.images {
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
}

.absImg1 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.hero {
    position: fixed;
    top: 260px;
    left: 180px;
    z-index: 1000;

}

.hero_title {
    font-family: 'YellowTail', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: rgba(104, 164, 127, 1);
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #274c5b;
}

.yellowBTN {
    border: 1px solid transparent;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(239, 211, 114, 1);
    margin-top: 22px;
    padding: 16px 27px 16px 27px;
    color: #274c5b;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
}

.yellowBTN:hover {
    border: 1px solid #274c5b;
    background: transparent;
}